/* General Layout */


#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Make it adapt based on content */
    padding: 20px;
   /* Light background for visibility */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}



#heading h3 {
    margin: 0;
    font-size: 2em;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#heading h3 span {
    display: block;
}


/* Zigzag Styles */
.zigzag {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.zigzag div {
    width: 40%;
    height: 200px;
    
    border-radius: 10px;
    background-color: #ecf0f1;
}

.zigzag div:nth-child(odd) {
    align-self: flex-start;
}

.zigzag div:nth-child(even) {
    align-self: flex-end;
}
