                                                                                             <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expert Lecture Data</title>
      
</head>
<body>
    <h2>Expert Lecture</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Topic Name</th>
                <th>Date</th>
                <th>Resource Person</th>
                <th>audience</th>
                <th>Image1</th>
                <th>Image2</th>
               
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over formDataList and display each entry -->
            <tr th:each="rep : ${formData}">
               <td th:text="${rep.TopicName}"></td>  <!-- Display the Activity Name -->
                <td th:text="${rep.DateConducted}"></td>  <!-- Display the Date -->
                <td th:text="${rep.resourceperson}"></td>  <!-- Display the Resource Person -->
                <td th:text="${rep.audience}"></td>  <!-- Display the Target Audience -->
                <td>
                    <img th:src="@{'data:image/jpeg;base64,'+${rep.generateBase64Image1()}}" alt="image1" width="50%" height="50%">
                </td>
                <td>
                    <img th:src="@{'data:image/jpeg;base64,'+${rep.generateBase64Image2()}}" alt="image2" width="50%" height="50%">
                </td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>