<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/Community.css}">
</head>
<body>
 <div th:replace="~{navbar::navbar}"></div>
    <h3 style="text-align: center;">Faculty Papar publication details</h3>
<form action="saveFaculty" method="POST" enctype="multipart/form-data" onsubmit="collectDynamicFields()">
    <b><label>Name of faculty:<input type="text" id="facultyname" name="facultyname" placeholder="faculty name" required></label><br><br><br></b>
    <b><label>Title of papar:<input type="text" id="topic" name="topic" placeholder="Title of the paper" required></label><br><br><br></b>
    <b><label>Publication Details:<input type="text" id="publicationdetails" name="publicationdetails" placeholder="status" required></label><br><br><br></b>
     <div id="extraDynamicFields"></div>
        
       <div id="staticFieldContainer">
        <!-- Render dynamic fields saved previously -->
        <div th:if="${dynamicJson != null}" th:each="entry : ${dynamicJson}">
        <label th:text="${entry.key + ':'}"></label>
        <input type="text"
               th:name="'dynamicFields[' + ${entry.key} + ']'" 
               th:value="${entry.value}" />
       </div>
    </div>

        
        <div id="dynamicFieldsContainer"></div>
        <input type="hidden" name="dynamicFields" id="dynamicFields">
        <button type="button" onclick="addDynamicField()">Add Field</button><br><br>
      
    
    <label for="image1">Image1:</label>
    <input type="file" id="image1" name="image1" ><br><br>
     <label for="image2">Image2:</label>
            <input type="file" id="image2" name="image2" ><br><br>
    
    <button type="submit">Submit</button>
</form>
 <a href="/ViewFacultyPapar" class="swati">
            <button>fetch data</button>
        </a>
        <!-- Logout Button (Using POST for CSRF protection) -->
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="logout_button">Logout</button>
        </form>
         <script th:src="@{/js/script.js}"></script>
</body>
<div th:replace="~{footer::footer}"></div>
</html>
