<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HomePage - MySite</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{base::parent(~{::.imga})}" class="container">
    <div id="overlay" class="imga">
        <div class="container">
            <div class="content">
            <div id="heading"> <h1>
        <span id="dynamic-text">Welcome to Department</span><br/>
        <span> of Computer Science</span>
    </h1>
            </div>
              
                <div class="zigzag">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
</div>

<a href="/">Back to Home Page</a>

</body>
</html>
