<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sponsored Project Form</title>
    <link rel="stylesheet" th:href="@{/css/Community.css}">
</head>

<body>
    <div th:replace="~{navbar::navbar}"></div>
    <h3 style="text-align: center;">Sponsored Project</h3>

    <form action="/saveSpon" method="POST" enctype="multipart/form-data" onsubmit="collectDynamicFields()">
        <div class="form-group">
            <label for="rollno">Roll No:</label>
            <input type="text" id="rollno" name="rollno" placeholder="Roll No" required>
        </div>

        <div class="form-group">
            <label for="studentname">Student Name:</label>
            <input type="text" id="studentname" name="studentname" placeholder="Name" required>
        </div>

        <div class="form-group">
            <label for="guide">Guide:</label>
            <input type="text" id="guide" name="guide" placeholder="Guide" required>
        </div>

        <div class="form-group">
            <label for="projectnm">Project Name:</label>
            <input type="text" id="projectnm" name="projectnm" placeholder="Project Name" required>
        </div>

        <div class="form-group">
            <label for="companydetails">Sponsored Company Details:</label>
            <input type="text" id="companydetails" name="companydetails" placeholder="Company Details" required>
        </div>

        <!-- Pre-saved dynamic fields -->
        <div id="staticFieldContainer">
            <div th:if="${dynamicJson != null}" th:each="entry : ${dynamicJson}" class="form-group">
                <label th:text="${entry.key + ':'}"></label>
                <input type="text" th:name="'dynamicFields[' + ${entry.key} + ']'" th:value="${entry.value}" />
            </div>
        </div>

        <!-- New dynamic fields -->
        <div id="dynamicFieldsContainer"></div>
        <input type="hidden" name="dynamicFields" id="dynamicFields">

        <button type="button" class="add-field-btn" onclick="addDynamicField()">Add Field</button>

        <!-- Images -->
        <div class="image-group">
            <label for="image1">Image1:</label>
            <input type="file" id="image1" name="image1" >
        </div>

        <div class="image-group">
            <label for="image2">Image2:</label>
            <input type="file" id="image2" name="image2" >
        </div>

        <button type="submit">Submit</button>
    </form>

    <a href="/ViewSponsored" class="swati">
        <button>View Previous data</button>
    </a>

    <form th:action="@{/logout}" method="post" class="logoutbutton">
        <button type="submit" class="logout_button">Logout</button>
    </form>

    <script th:src="@{/js/script.js}"></script>
</body>

<div th:replace="~{footer::footer}"></div>

</html>
