<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/Community.css}">
</head>
<body>

            
    <h3>Value Added program/h3>
<form action="savevalue" method="POST" enctype="multipart/form-data">
     <b><label>Name:<input type="text" id="Name" name="Name" placeholder="name" required></label><br><br><br></b>
     
      <b><label>Resourceperson<input type="text" id="Resourceperson" name="Resourceperson" placeholder="Resourceperson" required></label><br><br><br></b>
     <b><label>noofparticipants<input type="text" id="noofparticipants" name="noofparticipants" placeholder="noofparticipants" required></label><br><br><br></b>
    <b><label>Date:<input type="date" id="date" name="date" placeholder="date" required></label><br><br><br></b>
   
    <label for="image1">Image1:</label>
    <input type="file" id="image1" name="image1" required><br><br>
     <label for="image2">Image2:</label>
            <input type="file" id="image2" name="image2" required><br><br>
    
    <button type="submit">Submit</button>
</form>
 <a href="/ValueaddViwedata" class="swati">
            <button>fetch data</button>
        </a>
</body>
</html>
