<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Value Added Program Data</title>
    <link rel="stylesheet" th:href="@{/css/fetchdata.css}">
</head>
<body>
    <h2>Value Added Program</h2>
    <table border="1">
        <thead>
            <tr id="dynamicHeaderRow">
                <th>Name</th>
                <th>Resource Person</th>
                <th>No. of Participants</th>
                <th>Date</th>
                <th>Image 1</th>
                <th>Image 2</th>
                <th>Action</th>
            </tr>  
        </thead>
        <tbody>
            <tr th:each="rep : ${formDataList}"  th:attr="data-json=${rep.dynamicFieldsJson}"
                class="data-row">
                <td th:text="${rep.name}"></td>
                <td th:text="${rep.resourceperson}"></td>
                <td th:text="${rep.noofparticipants}"></td>
                <td th:text="${rep.date}"></td>
                <td class="dynamic-fields-placeholder" colspan="1"></td>
                
               <td>
    <img th:src="@{'data:image/jpeg;base64,'+${rep.generateBase64Image1()}}" alt="image1" width="100" height="100">
</td>
<td>
                    <img th:src="@{'data:image/jpeg;base64,'+${rep.generateBase64Image2()}}" alt="image1" width="50%" height="50%">
                </td>
           <td>
                <td>
                    <form th:action="@{/value/delete/{id}(id=${rep.name})}" method="POST">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
     <script th:src="@{/js/script1.js}"></script>
</body>
</html>
