<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - MySite</title>
    <link rel="stylesheet" th:href="@{/css/viewdata.css}">
</head>
<body>
    

    <div class="container">
        <!-- Generating 15 buttons with links -->
        <a href="/expertLecture" class="button-link">
            <button>Expert Lecture</button>
        </a>
        <a href="/aluminiContribution" class="button-link">
            <button>Alumini Contribution</button>
        </a>
        <a href="/valueAddedProgram" class="button-link">
            <button>Value Added Program</button>
        </a>
        <a href="/workshopOrganised" class="button-link">
            <button>Workshop Organised</button>
        </a>
        <a href="/paperPublicationByStudents" class="button-link">
            <button>Paper Publication By Students</button>
        </a>
        <a href="/sponsoredProjects" class="button-link">
            <button>Sponsored Projects</button>
        </a>
        <a href="/Viewcompesa" class="button-link">
            <button>Compesa & CSI Activities</button>
        </a>
        <a href="/Viewmou" class="button-link">
            <button>MOU Activities</button>
        </a>
        <a href="/ViewIndustrialVisit" class="button-link">
            <button>Student Industrial Visit</button>
        </a>
        <a href="/CommunityView" class="button-link">
            <button>Community Service</button>
        </a>
        <a href="/ViewTechnical" class="button-link">
            <button>Technical Event Participation</button>
        </a>
        <a href="/facultyInteraction" class="button-link">
            <button>Faculty Interaction with Outside World</button>
        </a>
        <a href="/internship" class="button-link">
            <button>Internship</button>
        </a>
        <a href="/placementDetails" class="button-link">
            <button>Placement Details</button>
        
    </div>

    <!-- Link to go back to the home page -->
    <a href="/">Back to Home Page</a>
</body>
</html>
